
<h2 class="username_name">
  <%= @user.username %>
</h2>
<p class="user_address">
  <% if @user.street_address != "" %>
    <%= @user.street_address%>
    <%end%> <br>
  <% if @user.city != "" %>
    <%= "#{@user.city}," %>
    <%end%>
  <% if @user.state != "" %>
    <%= @user.state%>
    <%end%>
    <% if @user.zipcode != "" %>
    <%= @user.zipcode%>
    <%end%>
</p>

<p class="user_bio">
  <% if @user.bio != "" %>
  <%= @user.bio %>
  <%end%>
</p>
<div class="section group">
<div class="span_1_of_2">
  <h3>Favorites</h3>
  <% if @favorites %>
  <ul>
    <% @favorites.each do |favorite| %>
    <li>
      <% tour = Tour.find(favorite.tour_id) %>
      <% user = User.find(tour.user_id) %>
      <p><%= link_to "#{tour.name}", "/users/#{@user.username}/#{tour.id}" %> by <%= link_to "#{user.username}", "/users/#{user.username}"%></p>
      <p><%= tour.description %></p>
      <p> <%= link_to "delete?", "/favorites/#{favorite.id}/delete" %>
    </li>
    <%end%>
  </ul>
  <% else %>
  <h4>No favorites added</h4>
  <%end%>
</div>


<div class="span_2_of_2">
  <h3>Tours</h3>
  <% if @tours %>
  <ul>
    <% @tours.each do |tour| %>
    <li>
      <p><%= link_to "#{tour.name}", "/users/#{@user.username}/#{tour.id}" %></p>
      <p><%= tour.description %></p>
      <% if current_user.id == @user.id %>
      <p><%= link_to "delete?", "/tours/#{tour.id}/delete"%></p>
        <%end%>
    </li>
    <%end%>
  </ul>
  <% else %>
  <h4>No tours created</h4>
  <%end%>
</div>
</div>

