
<h2 class="username_name">
  <%= @user.username %>
</h2>
<p class="user_address">
  <% if @user.street_address != "" %>
    <%= @user.street_address%>
    <%end%> <br>
  <% if @user.city != "" %>
    <%= "#{@user.city}," %>
    <%end%>
  <% if @user.state != "" %>
    <%= @user.state%>
    <%end%>
    <% if @user.zipcode != "" %>
    <%= @user.zipcode%>
    <%end%>
</p>

<p class="user_bio">
  <% if @user.bio != "" %>
  <%= @user.bio %>
  <%end%>
</p>

<div class="user_favorites">
</div>

<div class="user_tours">
  <% if @tours %>
  <ul>
    <% @tours.each do |tour| %>
    <li>
      <p><%= link_to "#{tour.name}", "/users/#{@user.username}/#{tour.id}" %></p>
      <p><%= tour.description %></p>
    </li>
    <%end%>
  </ul>
  <% else %>
  <h4>No tours created</h4>
  <%end%>
</div>
