

<div class="tour_form">
  <%= form_tag '/tours/create' do %>
  <%= text_field_tag "name", nil, {value: nil, placeholder: "name" } %>
  <%= text_area_tag "description", nil, { placeholder: "description" } %>
    <%= hidden_field_tag "stops", (@tour_string) %>
  <%= submit_tag "create" %>


<ul class="tour_summary"
  <% @tour_array.each do |b| %>
  <% brewery = Brewery.find_by_b_name_id(b) %>
  <div class="brewery_each">
    <li>
      <a href="/breweries/<%= brewery.b_name_id %>"><%=brewery.name %><a>
      <p><%= brewery.street_address %>
        <%= brewery.city %>, <%=brewery.state %> <%= brewery.zipcode %>
      </p>
    </li>
  </div>
  <%end%>
</ul>
<% end %>
</div>
