<div class="tour_form">
  <%= form_tag '/tours/create' do %>
  <p class="tour_create_name"><%= text_field_tag "name", nil, {value: nil, placeholder: "name" } %><br>
  <p class="tour_create_description"><%= text_area_tag "description", nil, { placeholder: "description" } %></p>
  <%= hidden_field_tag "stops", (@tour_string) %>
  <p class="tour_submit_button"><%= submit_tag "create" %></p>


<ul class="tour_summary">
  <% @tour_array.each do |b| %>
  <% brewery = Brewery.find_by_b_name_id(b) %>
  <div class="brewery_each">
    <li>
      <a href="/breweries/<%= brewery.b_name_id %>"><%=brewery.name %><a>
      <p><%= brewery.street_address %>
        <%= brewery.city %>, <%=brewery.state %> <%= brewery.zipcode %>
      </p>
    </li>
  </div>
  <%end%>
</ul>
<% end %>
</div>
